{% extends 'layout.html' %}
{% block content %}
    
    <div class="col-sm-10 ml-auto mr-auto ">
        <H2>House History</H2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Number of Bedrooms</th>
                    <th scope="col">Number of Bathrooms</th>
                    <th scope="col">Square Footage of Living Space</th>
                    <th scope="col">Square Footage of Lot</th>
                    <th scope="col">Square Footage of Basement</th>
                    <th scope="col">Price</th>
                    <th scope="col">Predict Price</th>
                    <th scope="col">Predict</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{entry.date.strftime("%m-%d-%Y")}}</td>
                            <td>{{entry.num_bedrooms}}</td>
                            <td>{{entry.num_bathrooms}}</td>
                            <td>{{entry.sqft_living}}</td>
                            <td>{{entry.sqft_above}}</td>
                            <td>{{ entry.sqft_basement }}</td>
                            <td>{{ entry.price }}</td>
                            <td>{{ entry.pred_price }}</td>
                            <!-- if predict button is clicked then show predicted price else show 'Predict'-->
                            <td><a href="{{url_for('predict', entry_id = entry.id)}}" class="btn btn-outline-primary btn-sm">Predict</a></td>
                            <td><a href="{{url_for('delete', entry_id = entry.id)}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

<!-- {{ url_for('delete', entry_id = entry.id) }} -->